<div class="created">
  <div class="created-icon">
    <i class="far fa-check-circle"></i>
  </div>

  <div class="created-message">
    <div>MyListが作成されました</div>

    <%= link_to "マイリスト", restaurant_data_sets_path, class: "btn btn-outline-warning waves-effect" %>
  </div>
</div>
