<div class="created">
  <div class="created-icon">
    <!-- <i class="far fa-check-circle"></i> -->
    <i class="fas fa-paper-plane" style="color: orange"></i>
  </div>

  <div class="created-message">
    <div>メッセージが送信されました</div>

    <%= link_to "マイリスト", restaurant_data_sets_path, class: "btn btn-outline-warning waves-effect" %>
  </div>
</div>
