<div class="loading">
  <div class="loading_icon"></div>
</div>
<div class="main is-hide">
  <div class="header" id="header">
    <%= link_to new_search_restaurant_path, onclick: "onClickClearCache()" do %>
      <div class="app-title">Uzu Meshi</div>
    <% end %>
  </div>

  <div class="created">
    <i class="far fa-check-circle"></i>
  </div>
</div>