.user-menu-content {
  z-index: 30 !important;
}

.container {
  max-width: 1024px;
}

.section {
  position: relative;
  min-height: 100vh;
}

.section .section-center {
  /*position: absolute;
  top: 54%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);*/
  position: relative;
  background-color: gray;
}

input {
  /*change the color of cusor to white*/
  caret-color: white;
}

#booking {
  font-family: 'Raleway', sans-serif;
}

.booking-form {
  position: relative;
  /*max-width: 642px;*/
  width: 100%;
  margin: auto;
  padding: 40px;
  overflow: hidden;
  background-image: url('/images/form_background.jpg');
  background-size: cover;
  border-radius: 5px;
  z-index: 20;
}

.booking-form::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.booking-form .form-header {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}

.booking-form .form-header h1 {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 35px;
  margin: 0px;
  color: #fff;
}

.booking-form .form-group {
  position: relative;
  margin-bottom: 30px;
}

.booking-form .form-control {
  background-color: rgba(255, 255, 255, 0.2);
  height: 60px;
  padding: 0px 25px;
  border: none;
  border-radius: 40px;
  color: #fff;
  -webkit-box-shadow: 0px 0px 0px 2px transparent;
  box-shadow: 0px 0px 0px 2px transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.booking-form .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.booking-form .form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.booking-form .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.booking-form .form-control:focus {
  -webkit-box-shadow: 0px 0px 0px 2px #ff8846;
  box-shadow: 0px 0px 0px 2px #ff8846;
}

.booking-form input[type="date"].form-control {
  padding-top: 16px;
}

.booking-form input[type="date"].form-control:invalid {
  color: rgba(255, 255, 255, 0.5);
}

.booking-form input[type="date"].form-control+.form-label {
  opacity: 1;
  top: 10px;
}

.booking-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.booking-form select.form-control:invalid {
  color: rgba(255, 255, 255, 0.5);
}

.booking-form select.form-control+.select-arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  line-height: 32px;
  height: 32px;
  text-align: center;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
  content: '\279C';
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.booking-form select.form-control option {
  color: #000;
}

.booking-form .form-label {
  position: absolute;
  top: -10px;
  left: 25px;
  opacity: 0;
  color: #ff8846;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  height: 15px;
  line-height: 15px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.booking-form .form-group.input-not-empty .form-control {
  padding-top: 16px;
}

.booking-form .form-group.input-not-empty .form-label {
  opacity: 1;
  top: 10px;
}

.booking-form .submit-btn {
  margin-bottom: 15px;
  color: #fff;
  background-color: #e35e0a;
  font-weight: 700;
  height: 60px;
  padding: 10px 30px;
  width: 100%;
  border-radius: 40px;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1.3px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
  opacity: 0.9;
}

/*reset button*/
.booking-form .reset-btn {
  /*margin-top: 16px;*/
  color: #fff;
  background-color: #ff9142;
  font-weight: 700;
  height: 60px;
  padding: 10px 30px;
  width: 100%;
  border-radius: 40px;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1.3px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.booking-form .reset-btn:hover,
.booking-form .reset-btn:focus {
  opacity: 0.9;
}

#budget-arrow {
  top: 45%;
  position: absolute;
  width: 32px;
  height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 30px;
}
@media (min-width: 640px) {
  #budget-arrow {
    right: 48.5%;
  }
}
@media screen and (max-width: 480px) {
/* 480pxまでの幅の場合に適応される */
  #budget-arrow {
    right: 46%;
  }
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.location-choice-element {
  border-bottom: 1px solid #AFAFAF;
  background-color: lightgray;
}

/*genre bar*/
.form-control.meal-genre {
  width: 100%;
  /*margin-right: 5%;*/
}

.genre-bar a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.genre-bar a.icon {
  /*background: black;*/
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.active {
  background-color: #4CAF50;
  color: white;
}

#genres {
  display: none;
  background: rgba(255, 255, 255, 0.2);
  padding: 15px;
  border-top: 1px solid;
  margin-left: 7%;
  margin-right: 7%;
}

.genre-button {
  background-color: gray;
  color: white;
  text-align:center;
  line-height:30px;
  border-radius: 30px;
  margin: 2px;
}

#genre-selection-text {
  padding: 5px;
  color: chocolate;
  font-weight: bold;
  font-size: large;
}

.genre-button.selected {
  background-color: chocolate;
  text-decoration: line-through;;
}


/*.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 40%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 7%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}
*/